/** Import **/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");
/** Import **/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");

html {
    height: 100%;
    width: 100%;
    background: #141E30;
}


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

/** column **/
.column__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}


/** Text **/
h1, h2, h3 {
    color: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
    background-color: #fff;
    height: 35px;
    width: 10px;
    display: inline-block;
    border-radius: 2px;
}

.low {
    background-color: green;
}

.mid {
    background-color: yellow;
}

.high {
    background-color: red;
}
